.data-hora {
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

#dialog-ponto{
    border: 0;
}

#fechar-dialog{
    background-color: lightgray;
    position: absolute;
    top:0;
    right:0;
    border: 0;
}

#fechar-dialog:hover{
    text-decoration: underline;
    background: palevioletred;
}