.data-hora {
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

#dialog-ponto{
    border: 0;
}

#dialog-fechar{
    background-color: lightgray;
    position: absolute;
    top:0;
    right:0;
    border: 0;
}

#dialog-fechar:hover{
    text-decoration: underline;
    background: rgb(238, 68, 68);
}